<!--degradê azul claro-->
<div class="top_degrade"></div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#" ><img src="./assets/images/logo-ueg-white.png" width="50px" alt="ueg"></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" 
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Add Alunos<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Matrículas</a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>

    </ul>
  </div>

</nav>
<br><br>

<div class="container">  
<br><br><hr>
<!--CARDS-->
  <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">

            <p> <strong>Nome:</strong> <input class="campos form-control" 
              type="text" name="name"  autocomplete="off"
              placeholder="Nome do aluno" [(ngModel)]="aluno.nome"></p>

            <p> <strong>Idade:</strong> <input class="campos form-control" 
              type="number" name="idade" autocomplete="off"
              placeholder="Idade do aluno" [(ngModel)]="aluno.idade"></p>

            <button id="botaoCadastrar" class="form-control" type="button" data-toggle="modal" data-target="#confirmarCadastro"
            ><i class="fas fa-user-plus"></i> Cadastrar</button>

          </div>
        </div>
      </div>
      <div class="col-sm-6" style="padding-bottom: initial">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Alteração e atualização de dados</h5>
            <p class="card-text">
              Para Fazer alterações nos dados de alunos cadastrados, 
              Digite as alteração desejadas nos campos ao lado informado
              nome e idade, e em seguida clique no ícone de edição <i class="fas fa-edit"></i> 
              correspondente ao aluno que deseja alterar.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="modal" id="confirmarCadastro">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Por favor confirme</h3>
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>
          <div class="modal-body">
            <p>Deseja realmente cadastrar ente aluno?</p>
          </div>
          <div class="modal-footer">
            <div class="container">
              <div class="row">
                <div class="col">
                  <button  type="button" class="btn btn-danger" data-dismiss="modal" style="margin:8px">
                      Cancelar</button>
                  <button (click)="cadastrar()" type="button" class="btn btn-primary" data-dismiss="modal" style="margin:8px">
                    Confirmar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   <!--<div class="container">
      <div class="row" style="margin:20px">
        <div class="col">
          <div class="alert alert-warning alert-dismissable fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
            <i class="fas fa-exclamation-triangle"></i>Todos os campos devem estar prenchidos!
          </div>
        </div>
      </div>
    </div>-->    

  <!--/////////////////////////////////////////////////////-->
  <br>
  <h2>Alunos cadastrados</h2>
  <hr>

  <div >
    <table class="my_table">
      <tr>
        <th>#id</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Ações</th>
      </tr>
      <!-- tabela para visualizaçãi sem API<tr>
        <td>1</td>
        <td>Matheus</td>
        <td>21</td>
        <td><button (click)="atualizar(aluno.id)">Atualizar</button>
          <button (click)="remover(aluno.id)">Remover</button></td>
      </tr>-->
      <tr *ngFor="let aluno of alunos">
        <td>{{aluno.id}}</td>
        <td>{{aluno.nome}}</td>
        <td>{{aluno.idade}}</td> 
        <td><button id="botaoAcoesEdit" (click)="atualizar(aluno.id)">
          <i class="fas fa-edit"></i></button>
        <button id="botaoAcoesTrash" class="btn" (click)="remover(aluno.id)">
          <i class="fas fa-trash"></i></button></td>   
      </tr>
    </table>
  </div>
  <br><br>
</div>

<div class="footer" style="width:100%; margin: 0 auto; padding-top: 120px; padding-bottom: 30px; 
  background-color: transparent; background-image: linear-gradient(transparent, rgb(0, 15, 29));">
  <footer class="footer navbar-fixed-bottom container" style="color:#ffffff; width: 100%;">
      <p class="float-right"><a href="#" style="text-decoration:none; font-size: 25px; 
      color:#f5f5f5">Topo <i class="fas fa-arrow-circle-up"></i></a></p>
      <p class="float-block"><a href="http://www.ueg.br" target="_blank" style="color: #ccc; 
      text-decoration: none">
        Site |  <img src="./assets/images/logo-ueg-white.png" width="60px" alt="ueg"></a></p>
      <p>&copy; 2019-2019 Matheus Vieira, Inc. &middot; <a href="#">Privacy</a> &middot; 
        <a href="#">Terms</a></p>
  </footer>
</div>