.degrade{
    height: 200px;
    background-color: transparent; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(71, 71, 71), transparent); 
    width: 100%; 
    position:fixed;
    top:0;
    left:0;
    z-index:-50
  }